
.btn {
    border-radius: 25px;
}

.wd-rounded {
    border-radius: 2em;
}

.wd-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.wd-follow {
    height: 50px;
}

.wd-post-image {
    width: 72px;
    height: 72px;
    border-radius: 20%;
}